img{
  width: 10%;
  border-radius: 50%;
  margin-top: 20px;
}
 .profile {
    text-align: center;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
p{
  border-radius: 5px;
  border-left: 6px solid aqua;
  background: rgba(0, 0, 0, 0.2);
  color: black;
}
.icon{
  margin-bottom: 10px;
}
.contact{
  margin-bottom: 50px;
}
